body{
    font-family: Arial,sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f5f5f5;
}
.container{
    max-width: 700px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.search-box{
    display: flex;
    margin-bottom: 20px;
}
#searchInpur{

    flex: 1;
    padding: 10px;
    font-size: 16px;
}
button{
    padding: 10 px 20px;
    background: greenyellow;
    color: white;
    border: none;
    cursor: pointer;
}
.producto{
    padding: 10px;
    border-bottom: 1px solid #eee;
}