@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Asegura que el padding y el borde no afecten el tamaño de los elementos */
  }

  